@media (max-width: 500px){
    .container-fluid{
      margin: 0px;  
    }
    
    #row1{
        margin-left: 0px;
        margin-right: 0px;
    }
    #row2{
        margin-top: -40px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #imgtop{
        position: relative;
        left: -80px;
    }
    #row2col1{
        margin-left: 0px;
    }
    #row2col2{
        margin-top: 50px;
        margin-left: 0px;
    }
    #row3{
        margin-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: auto;
    }
    #row7{
        margin-left: 0px;
        margin-right: 0px;
    }
    #row9{
        margin-left: 0px;
        margin-right: 0px;
    }
    #row10{
        padding-left: 0px;
        padding-right: 0px;
    }
    #row11{
        margin-left: 0px;
        margin-right: 0px;
    }
    #row12{
        margin-left: 0px;
        margin-right: 0px;
    }
    #row13{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #row14{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #row15{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #row8{
        margin-left: 0px;
        margin-right: 0px;
    }
    #menuitem{
        visibility: visible;
    }
    #menuitm{
        display: none;
    }
}



























































































































