#row1{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px
}
#row2{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 180px;
}
#row3{
    margin-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 0px;
    justify-content: center;
    background-color: #f6f6f6;
    
}

#row4{
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

#row5{

}

#row6{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-bottom: 20px;
    justify-content: center;
}


#row7{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#row8{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
}

#row9{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#row10{
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #f6f6f6;
    justify-content: center;
}

#row11{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    justify-content: center;
}

#row12{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    justify-content: center;
}

#row13{
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #c6c6c6;
    justify-content: center;
}

#row14{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    justify-content: center;
}


#row15{
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 90px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #202020;
    justify-content: center;
}


nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #6f6f6f;
}

#menuitem{
    visibility: hidden;
}
































































































































































